<body>
	<header>CONATUS</header>
	<div class="container">
			<div class="title"><h1> LOGIN FORM</h1></div>
		<div class="left">
		</div>
		<div class="right">
			<div class="formbox">
				<form>
					<p>Username</p>
					<input type="text" name="" placeholder="Username">
					<p>Password</p>
					<input type="password" name="" placeholder="Password">
					<input type="submit" name="" value="LOG IN">
					
					<button><label for='form-switch'><span>Register</span></label></button>
				</form></div>
		</div>
	</div></body>