<body><header>

			
  <div class="main">
    <ul>
      <li class="active"><a href="#">HOME</a></li>
      
      <li><a href="">ABOUT US</a></li>
      <li><a href="">CONTACT US</a></li>
      <li><a href="">LOGOUT</a></li>
    </ul>
  </div>
  <div class="title">
    <h1>CONATUS</h1>
  </div>
  <div class="button">
    <a href="getdesigns.html" class="btn">TEACHNICAL DOMAIN</a>
    <a href="contactdesigner.html" class="btn">DESIGNING DOMAIN</a>
    <a href="contactdesigner.html" class="btn">MANAGERIAL DOMAIN</a>
 
  </div>

  </header>
  </body>